In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
import random
from datetime import datetime #for handling dates

In [2]:
confirmed_df = pd.read_csv('time_series_covid_19_confirmed.csv')

confirmed_df.columns = [str(col) + '_C' if col != 'Long' and col != 'Lat' and col != 'Province/State' 
                        and col != 'Country/Region'
                        else col for col in confirmed_df.columns]



confirmed_df

,Province/State,Country/Region,Lat,Long,1/22/2020_C,1/23/2020_C,1/24/2020_C,1/25/2020_C,1/26/2020_C,1/27/2020_C,...,2/11/2020_C,2/12/2020_C,2/13/2020_C,2/14/2020_C,2/15/2020_C,2/16/2020_C,2/17/2020_C,2/18/2020_C,2/19/2020_C,2/20/2020_C
0,Anhui,Mainland China,31.82571,117.2264,1,9,15,39,60,70,...,860,889,910,934,950,962,973,982,986,987
1,Beijing,Mainland China,40.18238,116.4142,14,22,36,41,68,80,...,342,352,366,372,375,380,381,387,393,395
2,Chongqing,Mainland China,30.05718,107.8740,6,9,27,57,75,110,...,505,518,529,537,544,551,553,555,560,567
3,Fujian,Mainland China,26.07783,117.9895,1,5,10,18,35,59,...,267,272,279,281,285,287,290,292,293,293
4,Gansu,Mainland China,36.06110,103.8343,0,2,2,4,7,14,...,86,87,90,90,90,90,91,91,91,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Diamond Princess cruise ship,Others,35.44370,139.6380,0,0,0,0,0,0,...,135,175,175,218,285,355,454,542,621,634
72,"San Diego County, CA",US,32.71570,-117.1611,0,0,0,0,0,0,...,1,1,2,2,2,2,2,2,2,2
73,"San Antonio, TX",US,29.42410,-98.4936,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
74,NaN,Egypt,26.82060,30.8025,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
75,NaN,Iran,32.42790,53.6880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,5

In [3]:
deaths_df = pd.read_csv('time_series_covid_19_deaths.csv')

deaths_df.columns = [str(col) + '_D' if col != 'Long' and col != 'Lat' and col != 'Province/State' 
                        and col != 'Country/Region'
                        else col for col in deaths_df.columns]


deaths_df

,Province/State,Country/Region,Lat,Long,1/22/20_D,1/23/20_D,1/24/20_D,1/25/20_D,1/26/20_D,1/27/20_D,...,2/11/20_D,2/12/20_D,2/13/20_D,2/14/20_D,2/15/20_D,2/16/20_D,2/17/20_D,2/18/20_D,2/19/20_D,2/20/20_D
0,Anhui,Mainland China,31.82571,117.2264,0,0,0,0,0,0,...,4,4,5,6,6,6,6,6,6,6
1,Beijing,Mainland China,40.18238,116.4142,0,0,0,0,0,1,...,3,3,3,3,4,4,4,4,4,4
2,Chongqing,Mainland China,30.05718,107.8740,0,0,0,0,0,0,...,3,3,4,5,5,5,5,5,5,6
3,Fujian,Mainland China,26.07783,117.9895,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Gansu,Mainland China,36.06110,103.8343,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Diamond Princess cruise ship,Others,35.44370,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
72,"San Diego County, CA",US,32.71570,-117.1611,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,"San Antonio, TX",US,29.42410,-98.4936,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,NaN,Egypt,26.82060,30.8025,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,NaN,Iran,32.42790,53.6880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2

In [4]:
recovered_df = pd.read_csv('time_series_covid_19_recovered.csv')


recovered_df.columns = [str(col) + '_R' if col != 'Long' and col != 'Lat' and col != 'Province/State' 
                        and col != 'Country/Region'
                        else col for col in recovered_df.columns]

recovered_df

,Province/State,Country/Region,Lat,Long,1/22/20_R,1/23/20_R,1/24/20_R,1/25/20_R,1/26/20_R,1/27/20_R,...,2/11/20_R,2/12/20_R,2/13/20_R,2/14/20_R,2/15/20_R,2/16/20_R,2/17/20_R,2/18/20_R,2/19/20_R,2/20/20_R
0,Anhui,Mainland China,31.82571,117.2264,0,0,0,0,0,0,...,105,127,157,193,221,255,280,361,413,474
1,Beijing,Mainland China,40.18238,116.4142,0,0,1,2,2,2,...,48,56,69,80,98,108,114,122,145,153
2,Chongqing,Mainland China,30.05718,107.8740,0,0,0,0,0,0,...,79,102,128,152,184,207,225,254,274,299
3,Fujian,Mainland China,26.07783,117.9895,0,0,0,0,0,0,...,45,53,57,63,71,82,90,93,112,126
4,Gansu,Mainland China,36.06110,103.8343,0,0,0,0,0,0,...,24,31,39,39,49,54,58,62,65,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Diamond Princess cruise ship,Others,35.44370,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
72,"San Diego County, CA",US,32.71570,-117.1611,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,"San Antonio, TX",US,29.42410,-98.4936,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,NaN,Egypt,26.82060,30.8025,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,NaN,Iran,32.42790,53.6880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
merged_df1 = pd.merge(confirmed_df, deaths_df, on=["Province/State", "Country/Region", "Lat", "Long"])
merged_df2 = pd.merge(merged_df1, recovered_df, on=["Province/State", "Country/Region", "Lat", "Long"])
merged_df1

,Province/State,Country/Region,Lat,Long,1/22/2020_C,1/23/2020_C,1/24/2020_C,1/25/2020_C,1/26/2020_C,1/27/2020_C,...,2/11/20_D,2/12/20_D,2/13/20_D,2/14/20_D,2/15/20_D,2/16/20_D,2/17/20_D,2/18/20_D,2/19/20_D,2/20/20_D
0,Beijing,Mainland China,40.18238,116.4142,14,22,36,41,68,80,...,3,3,3,3,4,4,4,4,4,4
1,Chongqing,Mainland China,30.05718,107.8740,6,9,27,57,75,110,...,3,3,4,5,5,5,5,5,5,6
2,Fujian,Mainland China,26.07783,117.9895,1,5,10,18,35,59,...,0,0,0,0,0,0,0,0,0,1
3,Gansu,Mainland China,36.06110,103.8343,0,2,2,4,7,14,...,2,2,2,2,2,2,2,2,2,2
4,Guizhou,Mainland China,26.81536,106.8748,1,3,3,4,5,7,...,1,1,1,1,1,1,1,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Diamond Princess cruise ship,Others,35.44370,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
57,"San Diego County, CA",US,32.71570,-117.1611,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,"San Antonio, TX",US,29.42410,-98.4936,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,NaN,Egypt,26.82060,30.8025,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,NaN,Iran,32.42790,53.6880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2

In [6]:
merged_df2

,Province/State,Country/Region,Lat,Long,1/22/2020_C,1/23/2020_C,1/24/2020_C,1/25/2020_C,1/26/2020_C,1/27/2020_C,...,2/11/20_R,2/12/20_R,2/13/20_R,2/14/20_R,2/15/20_R,2/16/20_R,2/17/20_R,2/18/20_R,2/19/20_R,2/20/20_R
0,Beijing,Mainland China,40.18238,116.4142,14,22,36,41,68,80,...,48,56,69,80,98,108,114,122,145,153
1,Chongqing,Mainland China,30.05718,107.8740,6,9,27,57,75,110,...,79,102,128,152,184,207,225,254,274,299
2,Fujian,Mainland China,26.07783,117.9895,1,5,10,18,35,59,...,45,53,57,63,71,82,90,93,112,126
3,Gansu,Mainland China,36.06110,103.8343,0,2,2,4,7,14,...,24,31,39,39,49,54,58,62,65,71
4,Guizhou,Mainland China,26.81536,106.8748,1,3,3,4,5,7,...,17,18,27,28,41,46,57,66,70,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Diamond Princess cruise ship,Others,35.44370,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
57,"San Diego County, CA",US,32.71570,-117.1611,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,"San Antonio, TX",US,29.42410,-98.4936,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,NaN,Egypt,26.82060,30.8025,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,NaN,Iran,32.42790,53.6880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0